<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content=IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:image" content="https://github.com/hotaru51.png" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="assets/css/normalize.css">
<link rel="stylesheet" href="assets/css/skeleton.css">
<link rel="stylesheet" href="assets/css/custom.css">
<title>{{ page.title }}</title>
